In [39]:
import pandas as pd

In [40]:
df1 = pd.read_csv("flickr_data.csv")
df2 = pd.read_csv("flickr_data1.csv")
df3 = pd.read_csv("more_data.csv")

In [41]:
df = pd.concat([df1, df2, df3])

In [42]:
df

,Photo URL,Date Taken,Latitude,Longitude,tag
0,https://live.staticflickr.com/65535/5355604611...,2024-02-27 13:14:24,0.000000,0.000000,stockholm+street
1,https://live.staticflickr.com/65535/5330595486...,2022-11-18 12:41:48,39.275161,-76.624573,stockholm+street
2,https://live.staticflickr.com/65535/5318654669...,2023-09-14 11:59:27,0.000000,0.000000,stockholm+street
3,https://live.staticflickr.com/65535/5318136907...,2023-09-12 08:38:56,0.000000,0.000000,stockholm+street
4,https://live.staticflickr.com/65535/5318215074...,2023-09-12 08:38:57,0.000000,0.000000,stockholm+street
...,...,...,...,...,...
7586,https://live.staticflickr.com/2457/5705635543_...,2011-04-29 20:44:57,3.142401,101.612205,spring fashion
7587,https://live.staticflickr.com/4095/4895217131_...,1938-01-01 00:00:00,-27.468880,153.022827,spring fashion
7588,https://live.staticflickr.com/4119/4821090836_...,2005-06-03 00:36:19,26.898190,75.796737,spring fashion
7589,https://live.staticflickr.com/4001/4399989180_...,2004-01-26 09:41:01,36.743561,-80.432796,spring fashion
7590,https://live.staticflickr.com/2742/4399989108_...,2004-01-26 09:29:23,36.743561,-80.432796,spring fashion

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11361 entries, 0 to 7590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   11361 non-null  object
 1   Date Taken  11361 non-null  object
 2   Latitude    11361 non-null  float64
 3   Longitude   11361 non-null  float64
 4   tag         11361 non-null  object
dtypes: float64(2), object(3)
memory usage: 532.5+ KB

In [44]:
df.drop_duplicates(inplace=True)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4309 entries, 0 to 7590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   4309 non-null   object
 1   Date Taken  4309 non-null   object
 2   Latitude    4309 non-null   float64
 3   Longitude   4309 non-null   float64
 4   tag         4309 non-null   object
dtypes: float64(2), object(3)
memory usage: 202.0+ KB

In [46]:
df_with_correct_geotags =  df[(df['Latitude'] != 0) & (df['Longitude'] != 0)]

In [47]:
df_with_correct_geotags.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2821 entries, 1 to 7590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   2821 non-null   object
 1   Date Taken  2821 non-null   object
 2   Latitude    2821 non-null   float64
 3   Longitude   2821 non-null   float64
 4   tag         2821 non-null   object
dtypes: float64(2), object(3)
memory usage: 132.2+ KB

In [48]:
missing_lat_lon = df[(df['Latitude'] == 0) & (df['Longitude'] == 0)]

In [49]:
missing_lat_lon.groupby("tag").count()

                    Photo URL  Date Taken  Latitude  Longitude
tag
amsterdam+street           79          79        79         79
crowded street             22          22        22         22
festival                   94          94        94         94
glasgow+street             65          65        65         65
london+street             193         193       193        193
men outside                 1           1         1          1
people outside             57          57        57         57
rain                       36          36        36         36
spring fashion             13          13        13         13
stockholm+street           66          66        66         66
street amsterdam           26          26        26         26
street festival            86          86        86         86
street gothenburg           1           1         1          1
street london             161         161       161        161
street los angeles         54          54        54         54
street new york            62          62        62         62
street people              63          63        63         63
street photography        358         358       358        358
street stockholm           15          15        15         15
summer in the city          2           2         2          2
warsaw+street               8           8         8          8
winter in the city         22          22        22         22
women outside               4           4         4          4

In [50]:
df.replace(0, None, inplace=True)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4309 entries, 0 to 7590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   4309 non-null   object
 1   Date Taken  4309 non-null   object
 2   Latitude    2821 non-null   object
 3   Longitude   2821 non-null   object
 4   tag         4309 non-null   object
dtypes: object(5)
memory usage: 202.0+ KB

In [52]:
def fillna_mode(group):
    return group.fillna(group.mode()[0])

In [56]:
df['Latitude'].fillna(57.708870, inplace=True)

/tmp/ipykernel_7139/3422620828.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Latitude'].fillna(57.708870, inplace=True)
/tmp/ipykernel_7139/3422620828.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Latitude'].fillna(57.708870, inplace=True)

In [54]:
df

,Photo URL,Date Taken,Latitude,Longitude,tag
0,https://live.staticflickr.com/65535/5355604611...,2024-02-27 13:14:24,None,11.974560,stockholm+street
1,https://live.staticflickr.com/65535/5330595486...,2022-11-18 12:41:48,39.275161,-76.624573,stockholm+street
2,https://live.staticflickr.com/65535/5318654669...,2023-09-14 11:59:27,None,11.974560,stockholm+street
3,https://live.staticflickr.com/65535/5318136907...,2023-09-12 08:38:56,None,11.974560,stockholm+street
4,https://live.staticflickr.com/65535/5318215074...,2023-09-12 08:38:57,None,11.974560,stockholm+street
...,...,...,...,...,...
7583,https://live.staticflickr.com/2309/5705644585_...,2011-04-29 20:58:00,3.142401,101.612205,spring fashion
7584,https://live.staticflickr.com/2035/5705642991_...,2011-04-29 20:57:40,3.142401,101.612205,spring fashion
7585,https://live.staticflickr.com/2108/5705641307_...,2011-04-29 20:56:20,3.142401,101.612205,spring fashion
7586,https://live.staticflickr.com/2457/5705635543_...,2011-04-29 20:44:57,3.142401,101.612205,spring fashion
7590,https://live.staticflickr.com/2742/4399989108_...,2004-01-26 09:29:23,36.743561,-80.432796,spring fashion

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4309 entries, 0 to 7590
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Photo URL   4309 non-null   object
 1   Date Taken  4309 non-null   object
 2   Latitude    4309 non-null   float64
 3   Longitude   4309 non-null   float64
 4   tag         4309 non-null   object
dtypes: float64(2), object(3)
memory usage: 202.0+ KB

In [58]:
def fetch_photo_from_path(img_path):
    with urllib.request.urlopen(img_path) as response:
        img_array = np.array(bytearray(response.read()), dtype=np.uint8)

    # Decode the image
    image = cv2.imdecode(img_array, -1)
    return image

In [ ]:
from project2 import ImageClassification

for x in range(len(df)):
    img_path = df.iloc[x]["Photo URL"]
    ind = x
    img_class = ImageClassification(image_url = img_path, idnr = ind)

In [61]:
df.head()

,Photo URL,Date Taken,Latitude,Longitude,tag
0,https://live.staticflickr.com/65535/5355604611...,2024-02-27 13:14:24,57.708870,11.974560,stockholm+street
1,https://live.staticflickr.com/65535/5330595486...,2022-11-18 12:41:48,39.275161,-76.624573,stockholm+street
2,https://live.staticflickr.com/65535/5318654669...,2023-09-14 11:59:27,57.708870,11.974560,stockholm+street
3,https://live.staticflickr.com/65535/5318136907...,2023-09-12 08:38:56,57.708870,11.974560,stockholm+street
4,https://live.staticflickr.com/65535/5318215074...,2023-09-12 08:38:57,57.708870,11.974560,stockholm+street